<?xml version="1.0" encoding="UTF-8" ?>
<!--配置文件的一个约束-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.mybatis.mapper.UserMapper">

<!--    int insertUser(); -->
    <insert id="insertUser">
        insert into t_user values (null,'admin','123456',23,'男','1234@qq.com')
    </insert>

<!--    int updateUser(); -->
    <update id="updateUser">
        update t_user set username='张三' where id=4
    </update>

<!--    int deleteUser()-->
    <delete id="deleteUser">
        delete from t_user where id=2
    </delete>

<!--    User getUserById(); -->
    <select id="getUserById" resultType="com.atguigu.mybatis.pojo.User">
        select * from t_user where id=3
    </select>

<!--    List<User> getAllUser() -->
    <select id="getAllUser" resultType="user">
        select * from t_user
    </select>


</mapper>